html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #f2ffff;

}

header{
    background-image: url('assets/utensils.png');
    background-size: cover;
    background-position: bottom;
    height: 220px;
    width: 100%;
    margin: 0;
    position: relative;
}

header h1{
    margin: 0;
    font-size: 110px;
    position: absolute;
    top: 15%;
    left:7%;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #4BDCB0;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

main{
    max-width: 350px;
    margin: 25px auto 0 auto;
    text-align: center;
}

.question-container{
    margin: 25px 0 25px 0;
    border-bottom: dashed 1px black;
    padding-bottom: 25px;
}

.question{
    font-size: 20px;
    text-align: left;
}

span{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin-left: 8px;
}

input[type='text']{
    width: 80%;
    height: 30px;
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    background-color: #f2ffff;
    font-size: 18px;
}

input[name='allergies-dislikes']{
    width: 80%;
    height: 30px;
    margin-top: 20px;
}

label{
    font-size: 20px;
    font-weight: normal;
}

#total-people, #cooking-time{
    height: 30px;
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    background-color: #f2ffff;
    font-size: 18px;
}

#cooking-time{
    width: 50%;
    height: 35px;
}

#submit-btn{
    width: 100%;
    height: 60px;
    border: solid 4px black;
    border-radius: 20px;
    margin: 25px 0 0 0;
    background-color: #4BDCB0;
    font-size: 26px;
    font-weight: bold;
}

#submit-btn:hover{
    cursor: pointer;
}

#submit-btn:disabled{
    cursor:not-allowed;
}

.hidden{
    display: none;
}

footer{
    font-size: 10px;
    margin: 70px 20px 20px 20px;
    font-style: italic;
    font-weight: normal;
    text-align: left;
}